*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    color: #777;
    display: flex;
    justify-content: center;
}

.App{
    width: 90vw;
}

.headline-section{
    display: flex;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    color: #545454;
    
}

p{
    font-size: 17px;
    font-weight:550;
}

.search-section{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    flex-direction: column;
    padding: 5px 0px;
    height: 300px;
    /* font-size: 16px; */
}

.surprise{
    background-color: #d6d6f1;
    border-radius: 5px;
    color: #000;
    font-weight: 550;
    padding: 4px 12px;
    margin: 0 0 2px 5px;
    cursor: pointer;
}

.inputContainer{
    /* display: flex; */
    justify-content: space-between;
}
.inputContainer{
    width: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 82, 0.15)0 2px 5px ;
}

.inputContainer input::placeholder{
    color: #bebdbd;
    font-weight: 200;
}

.inputContainer input{
    border: none;
    padding: 13px 14px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: larger;
    outline: gray;
    width: 75%;
}

.inputContainer button{
    width: 15%;
    border: gray;
    border-left: 1px #bbbbbb solid;
    background: rgb(106, 104, 104);
    font-size: larger;
    font-weight: 200;
    color: rgb(249, 249, 249);
    cursor: pointer;
}

.inputContainer button:active{
    background: #cacaca;
    color: #777;
}

.sizeSection{
    width: 10%;
    border: gray;
    margin-right: 6px;
    border: none;
    font-size: larger;
}

.image-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.image-section img{
    margin: 1px;
    flex-grow: 1;
}

.filesUpload{
        margin: 13px 0 2px 5px;
        cursor: pointer;
}


@media (max-width : 550px){
    .image-section img {
        max-width: 100%;
        }
}